@tailwind base;
@tailwind components;
@tailwind utilities;

.board .board__row:nth-child(odd) button:nth-child(even) {
  background-color: #769656;
}

.board .board__row:nth-child(even) button:nth-child(odd) {
  background-color: #769656;
}

.cell-selected {
  background-color: #ff0000;
}

.cell-move {
  background-color: #cccccc;
}
